<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/images.css">
    <link rel="stylesheet" href="/public/stylesheets/contact.css">
    <title>RAWJET | CONTACT</title>
</head>
<body>
    <main>
        <nav>
            <div class="nav">
                <div id="nl" class="nl">
                    <div class="nl-img">
                        <img src="/public/images/isro-logo.png" alt="">
                    </div>
                </div>
                <div id="nr" class="nr">
                    <a href="../index.html" class="nr-1">HOME</a>
                    <a href="/views/images.html" class="active">IMAGES</a>
                    <a href="/views/centre.html">CENTRES</a>
                </div>
                <div id="menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </nav>
        <div id="cpage1">
            <img src="/public/images/pg10-img.webp" alt="Image here" id="cpg1-img">
            <h1>Leave Us A Message</h1>
            <div id="contact-pg1">
                <div class="contact-container">
                    <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
                        <div class="contact-left-title">
                            <h2>YOUR MESSAGE</h2>
                        </div>
                        <input type="hidden" name="access_key" value="dd60566d-3f46-4912-b6f3-2b7e6d1ba018">
                        <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required >
                        <input type="text" name="email" placeholder="Your Email id" class="contact-inputs" required >
                        <textarea name="message" placeholder="Your Message"></textarea>
                        <button type="submit"> SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="cpage2">
            <div id="cpg2-container">
                <a href="https://www.facebook.com/SonataWatches/" target="_blank"><img src="/public/images/contact-facebook.webp" alt=""></a>
                <a href="https://www.youtube.com/channel/UCDId15bQ2jEA4_u24AWo-lg" target="_blank"><img src="/public/images/contact-yt.webp" alt=""></a>
                <a href="https://www.instagram.com/sonataindia/?hl=en" target="_blank"><img src="/public/images/contact-insta.webp" alt=""></a>
                <a href="https://twitter.com/x/migrate?tok=7b2265223a222f536f6e617461576174636865733f7265665f7372633d7477737263253545676f6f676c65253743747763616d702535457365727025374374776772253545617574686f72222c2274223a313731383739323334327d54817ebe1780937d42faae25f63eb2e1" target="_blank"><img src="images/contact-twitter.webp" alt=""></a>
            </div>
        </div>
        <div id="footer">
            <div class="fl">
                <div class="contact">
                    <h2>CONTACT US</h2>
                    <h4>ISRO<br>
                        <span>Antariksh Bhavan,R.M.V. 2nd Stage, Bengaluru, Karnataka 560094</span></h4>
                </div>
            </div>
            <div class="fc">
                <div class="quick-links">
                    <h2>QUICK LINKS</h2>
                    <div id="fc-n">
                        <a href="../index.html">HOME</a>
                        <a href="/views/images.html">IMAGES</a>
                        <a href="#">PROJECTS</a>
                        <a href="/views/contact.html">CONTACT US</a>
                        <a href="#">UPDATES</a>
                    </div>
                </div>
            </div>
            <div class="fr">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.0087362202385!2d77.56612968625426!3d13.035115480715882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17e7a949cae9%3A0x8397364610ef2771!2sIndian%20Space%20Research%20Organisation!5e0!3m2!1sen!2sin!4v1717955353286!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div id="copywright">
            <h3>@2025 Team Rawjet. All Rights Reserved.</h3>
        </div>
    </main>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/fontawesome.min.js" integrity="sha512-1M9vud0lqoXACA9QaA8IY8k1VR2dMJ2Qmqzt9pN2AH7eQHWpNsxBpaayV0kKkUsF7FLVQ2sA2SSc8w5VOm7/mg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/javascripts/script.js"></script>
</body>
</html>