<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/images.css">
    <title>RAWJET | IMAGES</title>
</head>
<body>
    <main>
        <nav>
            <div class="nav">
                <div id="nl" class="nl">
                    <div class="nl-img">
                        <img src="/public/images/isro-logo.png" alt="">
                    </div>
                </div>
                <div id="nr" class="nr">
                    <a href="../index.html" class="nr-1">HOME</a>
                    <a href="/views/images.html" class="active">IMAGES</a>
                    <a href="/views/centre.html">CENTRES</a>
                </div>
                <div id="menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </nav>
        <div id="ipage1">
            <h1>LAUNCHERS</h1>
            <div id="pg1-container">
                <div class="img-box">
                    <img src="/public/images/sslv.jpg" alt="">
                    <h2>SSLV</h2>
                    <div id="line"></div>
                </div>
                <div class="img-box">
                    <img src="/public/images/pslv.webp" alt="">
                    <h2>PSLV</h2>
                    <div id="line"></div>
                </div>
                <div class="img-box">
                    <img src="/public/images/gslv.webp" alt="">
                    <h2>GSLV</h2>
                    <div id="line"></div>
                </div>
                <div class="img-box">
                    <img src="/public/images/lvm3.webp" alt="">
                    <h2>LVM3</h2>
                    <div id="line"></div>
                </div>
            </div>
        </div>
        <div id="ipage2">
            <h1>SATELLITES</h1>
            <div id="pg1-container">
                <div class="img-box">
                    <img src="https://www.eoportal.org/api/cms/documents/163813/2019625/INSAT3D_Auto14.jpeg" alt="">
                    <h2>INSAT-3D</h2>
                    <div id="line"></div>
                </div>
                <div class="img-box">
                    <img src="https://upload.wikimedia.org/wikipedia/en/9/93/Cartosat1Assembly.jpg" alt="">
                    <h2>CARTOSAT-1</h2>
                    <div id="line"></div>
                </div>
                <div class="img-box">
                    <img src="https://www.eoportal.org/api/cms/documents/163813/1608327/Risat2_AutoD.jpeg" alt="">
                    <h2>RISAT-2</h2>
                    <div id="line"></div>
                </div>
                <div class="img-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Render_of_Cartosat-3_satellite_in_deployed_configuration.png" alt="">
                    <h2>HYSIS</h2>
                    <div id="line"></div>
                </div>
            </div>
        </div>
        <div id="ipage3">
            <h1>GLORY</h1>
            <div id="pg1-container">
                <div class="img-box">
                    <img src="https://resize.indiatvnews.com/en/resize/newbucket/355_-/2023/08/isro-control-room-celebrations-pti1-1692816001.jpg" alt="">
                    <h2>CHANDRAYAAN 3</h2>
                    <div id="line"></div>
                </div>
                <div class="img-box">
                    <img src="https://images.moneycontrol.com/static-mcnews/2018/01/RTX1PXTO-770x433.jpg?impolicy=website&width=770&height=431" alt="">
                    <h2>LVM-3 FIRST LAUNCH</h2>
                    <div id="line"></div>
                </div>
                <div class="img-box">
                    <img src="https://i.ndtvimg.com/mt/2014-09/Mangalyaan_scientists_cheer_AFP_650.jpg" alt="">
                    <h2>MANGALYAAN</h2>
                    <div id="line"></div>
                </div>
                <div class="img-box">
                    <img src="https://resize.indiatvnews.com/en/centered/newbucket/1200_675/2025/03/isro-spadex-mission-2-1741851659.webp" alt="">
                    <h2>SPACE DOCKING</h2>
                    <div id="line"></div>
                </div>
            </div>
        </div>
        <div  id="footer">
            <div class="fl">
                <div class="contact">
                    <h2>CONTACT US</h2>
                    <h4>ISRO<br>
                        <span>Antariksh Bhavan,R.M.V. 2nd Stage, Bengaluru, Karnataka 560094</span></h4>
                </div>
            </div>
            <div class="fc">
                <div class="quick-links">
                    <h2>QUICK LINKS</h2>
                    <div id="fc-n">
                        <a href="../index.html">HOME</a>
                        <a href="/views/images.html">IMAGES</a>
                        <a href="#">PROJECTS</a>
                        <a href="/views/contact.html">CONTACT US</a>
                        <a href="#">UPDATES</a>
                    </div>
                </div>
            </div>
            <div class="fr">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.0087362202385!2d77.56612968625426!3d13.035115480715882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17e7a949cae9%3A0x8397364610ef2771!2sIndian%20Space%20Research%20Organisation!5e0!3m2!1sen!2sin!4v1717955353286!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div id="copywright">
            <h3>@2025 Team Rawjet. All Rights Reserved.</h3>
        </div>
    </main>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/javascripts/script.js"></script>
</body>
</html>