<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap" rel="stylesheet">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>RAWJET | HOME</title>
</head>
<body>
    <main>
        <div id="page1">
            <div id="outer-container">
                <div id="container">
                    <div id="circle">
                        <div class="stripe str1">
                            <div class="str-r">
                                <a href="#">Missions</a>
                            </div>
                            <div class="str-l"></div>
                            </div>
                        <div class="stripe str2">
                            <div class="str-r">
                                <a href="/views/images.html">IMAGES</a>
                            </div>
                            <div class="str-l"></div>
                            </div>
                        <div class="stripe str3">
                            
                            <div class="str-r">
                                <a href="/views/index.html">HOME</a>
                            </div>
                            <div class="str-l"></div>
                            </div>
                        <div class="stripe str4">
                            <div class="str-r">
                                <a href="#">Vision</a>
                            </div>
                            <div class="str-l"></div>
                            </div>
                        <div class="stripe str5">
                            
                            <div class="str-r">
                                <a href="#">UPDATES</a>
                            </div>
                            <div class="str-l"></div>
                            </div>
                    </div>
                    <div id="panel">
                        <div class="mncircle"></div>
                        <div class="mncircle"></div>
                        <div class="mncircle"></div>
                        <div class="mncircle"></div>
                        <div class="mncircle"></div>
                    </div>
                </div>
                <video src="/public/videos/pg1-bg.mp4" autoplay muted loop></video>
                <h1><span>R</span>
                    <span>A</span>
                    <span>W</span>
                    <span>J</span>
                    <span>E</span>
                    <span>T</span>
                </h1>
                <h3><i>A ISRO WING</i></h3>
            </div>
            <div id="blur-top">
            </div>
        </div>
        <div id="page2"> 
            <div id="blur"></div>
            <h1>UPDATES</h1>
            <div id="projects">
                <div class="p" id="c1">
                    <div id="p1">
                        <img src="/public/images/mission-1.webp" alt="">
                    </div>
                    <div id="p2" class="c1">
                        <h2>GSLV-F14/INSAT-3DS MISSION</h2>
                        <h3>Launched on: February 17, 2024</h3>
                    </div>
                </div>
                <div class="p" id="c2">
                    <div id="p1">
                        <img src="/public/images/mission-2.webp" alt="">
                    </div>
                    <div id="p2" class="c2">
                        <h2>PSLV-C58/XPoSat Mission</h2>
                        <h3>Launched on: January 01, 2024</h3>
                    </div>
                </div>
                <div class="p" id="c3">
                    <div id="p1">
                        <img src="/public/images/mission-3.avif" alt="">
                    </div>
                    <div id="p2" class="c3">
                        <h2>Gaganyaan TV-D1 Mission</h2>
                        <h3>Launched on: October 21, 2023</h3>
                    </div>
                </div>
                <div class="p" id="c4">
                    <div id="p1">
                        <img src="/public/images/mission-4.jpg" alt="">
                    </div>
                    <div id="p2" class="c4">
                        <h2>PSLV-C57/Aditya-L1 Mission</h2>
                        <h3>Launched on: September 02, 2023 </h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="page3">
            <h1>ISRO PORTALS</h1>
            <div class="portal-container-1">
                <div id="portal-container">
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/stem-logo.png" alt=""></div>
                        <div class="portal-text"><a href="https://jigyasa.iirs.gov.in/" target="_blank">I-STEM</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/spark-logo.png" alt=""></div>
                        <div class="portal-text"><a href="https://www.isro.gov.in/Virtual_Space_Museum.html" target="_blank">I-SPARK</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/MOSDAC-LOGO.png" alt=""></div>
                        <div class="portal-text"><a href="https://www.mosdac.gov.in/" target="_blank">MOSDAC</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/ISSDC-LOGO.png" alt=""></div>
                        <div class="portal-text"><a href="https://www.issdc.gov.in/" target="_blank">ISSDC</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/BHOONIDHI-LOGO.png" alt=""></div>
                        <div class="portal-text"><a href="https://bhoonidhi.nrsc.gov.in/bhoonidhi/home.html" target="_blank">BHOONIDHI</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/VEDAS-LOGO.png" alt=""></div>
                        <div class="portal-text"><a href="https://vedas.sac.gov.in/en/" target="_blank">VEDAS</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/BHUVAN-LOGO.png" alt=""></div>
                        <div class="portal-text"><a href="https://bhuvan.nrsc.gov.in/home/index.php" target="_blank">BHUVAN</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/NDEM-LOGO.png" alt=""></div>
                        <div class="portal-text"><a href="https://ndem.nrsc.gov.in/login.php" target="_blank">NDEM</a></div>
                    </div>
    
    
    
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/grasp-logo.png" alt=""></div>
                        <div class="portal-text"><a href="https://www.isro.gov.in/igrasp_portal.html" target="_blank">I-GRASP</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/stem-logo.png" alt=""></div>
                        <div class="portal-text"><a href="https://jigyasa.iirs.gov.in/" target="_blank">I-STEM</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/spark-logo.png" alt=""></div>
                        <div class="portal-text"><a href="https://www.isro.gov.in/Virtual_Space_Museum.html" target="_blank">I-SPARK</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/MOSDAC-LOGO.png" alt=""></div>
                        <div class="portal-text"><a href="https://www.mosdac.gov.in/" target="_blank">MOSDAC</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/ISSDC-LOGO.png" alt=""></div>
                        <div class="portal-text"><a href="https://www.issdc.gov.in/" target="_blank">ISSDC</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/BHOONIDHI-LOGO.png" alt=""></div>
                        <div class="portal-text"><a href="https://bhoonidhi.nrsc.gov.in/bhoonidhi/home.html" target="_blank">BHOONIDHI</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/VEDAS-LOGO.png" alt=""></div>
                        <div class="portal-text"><a href="https://vedas.sac.gov.in/en/" target="_blank">VEDAS</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/BHUVAN-LOGO.png" alt=""></div>
                        <div class="portal-text"><a href="https://bhuvan.nrsc.gov.in/home/index.php" target="_blank">BHUVAN</a></div>
                    </div>
                    <div id="portals">
                        <div class="portal-photo"><img src="/public/images/NDEM-LOGO.png" alt=""></div>
                        <div class="portal-text"><a href="https://ndem.nrsc.gov.in/login.php" target="_blank">NDEM</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="page4">
            <h1>PROJECTS</h1>
            <div id="mission">
                <div class="chandrayaan" id="chandrayaan">
                    <h3>CHANDRAYAAN</h3>
                    <img src="/public/images/vikram-lander.webp" alt="">
                    <div class="mission-header mission-header1">
                        <span><a href="https://www.isro.gov.in/Chandrayaan3_Details.html" target="_blank">CHANDRAYAAN-3</a></span>
                        <p>In another unique experiment, like the hop experiment on the Vikram Lander, the Propulsion Module (PM)   of Chandrayaan-3 was moved from an orbit around Moon to an orbit around Earth.
                            The primary objective of Chandrayaan-3 mission was to demonstrate soft landing near to lunar south polar region and perform experiments using the instruments on Vikram and Pragyaan.The spacecraft was launched on July 14, 2023 on-board LVM3-M4 vehicle from SDSC, SHAR.  </p>
                    </div>
                </div>
                <div class="chandrayaan" id="mangalyaan">
                    <h3>MANGALYAAN</h3>
                    <img src="/public/images/mangalyaan.webp" alt="">
                    <div class="mission-header2 mission-header">
                        <span><a href="https://www.isro.gov.in/MarsOrbiterMissionSpacecraft.html" target="_blank">MANGALYAAN</a></span>
                        <p>Mars Orbiter Mission (MOM), India's first interplanetary mission to planet Mars was launchedonboard PSLV-C25 on November 05, 2013. ISRO has become the fourth space agency to successfully send a spacecraft to Mars orbit.Though the designed mission life is 6 months, MOM completed 7 years in its orbit on Sept 24, 2021.  </p>
                    </div>
                </div>
                <div class="chandrayaan" id="aditya">
                    <h3>ADITYA-L1</h3>
                    <img src="/public/images/aditya.webp" alt="">
                    <div class="mission-header mission-header3">
                        <span><a href="https://www.isro.gov.in/Aditya_L1.html" target="_blank">ADITYA-L1</a></span>
                        <p>Aditya L1 shall be the first space based Indian mission to study the Sun. The spacecraft shall be placed in a halo orbit around the Lagrange point 1 (L1) of the Sun-Earth system, which is about 1.5 million km from the Earth. A satellite placed in the halo orbit around the L1 point has the major advantage of continuously viewing the Sun without any occultation/eclipses </p>
                    </div>
                </div>
                <div class="chandrayaan" id="gaganyaan">
                    <h3>GAGANYAAN</h3>
                    <img src="/public/images/gaganyaan.webp" alt="">
                    <div class="mission-header mission-header4">
                        <span><a href="https://www.isro.gov.in/Gaganyaan.html" target="_blank">GAGANYAAN</a></span>
                        <p>The primary mandate of HSFC is to spearhead ISRO's Gaganyaan programme through co-ordinated efforts and focus all the activities that are carried out in other ISRO centres, research labs in India, Indian academia and Industries towards accomplishing the mission. HSFC, as the lead Centre for Human space flight activities conforms to high standards of reliability and human safety in undertaking R&D activities in new technology areas, such as life support systems.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="page8">
            <h1>ISRO TIMELINE</h1>
            <div id="timeline-container">
                <div id="timeline-container2">
                    <div id="vertical-ruler"></div>
                    <div class="event">
                        <div class="event-left"><h2>1969</h2></div>
                        <div class="horizontal-ruler"></div>
                        <div class="event-right"><h4>On this day, ISRO was founded by Dr. Vikram Sarabhai.</h4></div>
                    </div>
                    <div class="event">
                        <div class="event-left"><h4>India's first satellite, named after the ancient Indian mathematician and astronomer Aryabhata. It was launched by the Soviet Union on April 19, 1975.</h4></div>
                        <div class="horizontal-ruler"></div>
                        <div class="event-right"><h2>Aryabhata (1975)</h2></div>
                    </div>
                    <div class="event">
                        <div class="event-left"><h2>SLV-3 (1980-1994)</h2></div>
                        <div class="horizontal-ruler"></div>
                        <div class="event-right"><h4>The Satellite Launch Vehicle-3 was India's first experimental satellite launch vehicle, which launched the Rohini satellite series into orbit.</h4></div>
                    </div>
                    <div class="event">
                        <div class="event-left"><h4>The Indian National Satellite (INSAT) system, which provides services in telecommunications, television broadcasting, meteorology, and disaster warning. The first satellite, INSAT-1A, was launched in 1983.</h4></div>
                        <div class="horizontal-ruler"></div>
                        <div class="event-right"><h2>INSAT series (1983-present)</h2></div>
                    </div>
                    <div class="event">
                        <div class="event-left"><h2>IRS series (1988-present)</h2></div>
                        <div class="horizontal-ruler"></div>
                        <div class="event-right"><h4> The Indian Remote Sensing (IRS) satellite program, which provides various remote sensing services. The first satellite, IRS-1A, was launched in 1988.</h4></div>
                    </div>
                    <div class="event">
                        <div class="event-left"><h4>India's first lunar probe, which orbited the Moon and helped discover water molecules on the lunar surface. It was launched on October 22, 2008.</h4></div>
                        <div class="horizontal-ruler"></div>
                        <div class="event-right"><h2>Chandrayaan-1 (2008)</h2></div>
                    </div>
                    <div class="event">
                        <div class="event-left"><h2>Mangalyaan</h2></div>
                        <div class="horizontal-ruler"></div>
                        <div class="event-right"><h4> India's first lunar probe, which orbited the Moon and helped discover water molecules on the lunar surface. It was launched on October 22, 2008.</h4></div>
                    </div>
                    <div class="event">
                        <div class="event-left"><h4>The Geosynchronous Satellite Launch Vehicle (GSLV) program, which aims to launch communication satellites into geostationary transfer orbit. Notable satellites include GSAT-12, GSAT-6, and GSAT-30.</h4></div>
                        <div class="horizontal-ruler"></div>
                        <div class="event-right"><h2>GSAT series (2001-present)</h2></div>
                    </div>
                    <div class="event">
                        <div class="event-left"><h2>Cartosat series (2005-present)</h2></div>
                        <div class="horizontal-ruler"></div>
                        <div class="event-right"><h4>The Cartosat series of satellites are high-resolution Earth observation satellites used for cartographic applications, urban and rural planning, and infrastructure development.</h4></div>
                    </div>
                    <div class="event">
                        <div class="event-left"><h4>The Radar Imaging Satellite (RISAT) series, which uses synthetic aperture radar to provide all-weather surveillance.</h4></div>
                        <div class="horizontal-ruler"></div>
                        <div class="event-right"><h2>RISAT series (2009-present)</h2></div>
                    </div>
                    <div class="event">
                        <div class="event-left"><h2>Chandrayaan-2 (2019-present)</h2></div>
                        <div class="horizontal-ruler"></div>
                        <div class="event-right"><h4>India's second lunar exploration mission, which includes an orbiter, a lander (Vikram), and a rover (Pragyan). Launched on July 22, 2019, it aimed to explore the lunar south pole region.</h4></div>
                    </div>
                    <div class="event">
                        <div class="event-left"><h4>Chandrayaan-3 is India's third lunar exploration mission, following the successes of Chandrayaan-1 and Chandrayaan-2. It aims to further explore the Moon's surface and enhance India's capabilities in space exploration.</h4></div>
                        <div class="horizontal-ruler"></div>
                        <div class="event-right"><h2>Chandrayaan-3 (2023)</h2></div>
                    </div>
                    <div class="event">
                        <div class="event-left"><h2>Aditya-L1 (2023)</h2></div>
                        <div class="horizontal-ruler"></div>
                        <div class="event-right"><h4>The Aditya-L1 mission is India's first dedicated solar mission, aimed at studying the Sun's outermost layer, the corona, and its atmosphere. It will focus on understanding the dynamics of solar storms, which can impact space weather and communication systems on Earth.</h4></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="page9">
            <h1>STATS</h1>
            <div id="stats-container">
                <div class="stats">
                    <h2>LAUNCHES</h2>
                    <h3 class="count" data-target="101">101</h3>
                </div>
                <div class="stats">
                    <h2>LAUNCH VEHICLES</h2>
                    <h3 class="count" data-target="3">3 (active)</h3>
                </div>
                <div class="stats">
                    <h2>LAUNCH PADS</h2>
                    <h3 class="count" data-target="2">2(active)</h3>
                </div>
                <div class="stats">
                    <h2>SATELLITES</h2>
                    <h3 class="count" data-target="127">127 (Indian)</h3>
                </div>
            </div>
        </div>
        <div id="page10">
            <h1>MANGALYAAN</h1>
            <div id="mission-container">
                <div id="orbit1"><div id="planet-container1"><div id="planet1"><img src="/public/images/earth.webp" alt=""></div></div></div>
                <div id="orbit2"><div id="planet-container2"><div id="planet2"><img src="/public/images/mars.webp" alt=""><div id="satellite"><div id="satellite-img"><img src="/public/images/mangalyaan.webp" alt=""></div></div></div></div></div>
                <div id="sun"><img src="/public/images/sun.webp" alt=""></div>
            </div>
            <div id="pg10-blur-bottom"></div>
        </div>
        <div id="page5">
            <a href="launchers.html" target="_blank">LAUNCHERS</a>
            <div id="rocket-container">
                <div id="rockets">
                    <div class="rocket">
                        <img src="/public/images/lvm3.webp" alt="">
                        <h3>LVM-3</h3>
                    </div>
                    <div class="rocket">
                        <img src="/public/images/gslv.webp" alt="">
                        <h3>GSLV</h3>
                    </div>
                    <div class="rocket">
                        <img src="/public/images/pslv.webp" alt="">
                        <h3>PSLV</h3>
                    </div>
                    <div class="rocket">
                        <img src="/public/images/sslv.jpg" alt="">
                        <h3>SSLV</h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="page6">
            <div id="pg6-blur-top"></div>
            <div id="video2">
                <video src="/public/videos/video2.mp4" loop ></video>
            </div>
            <div id="pg6-blur-bottom"></div>
        </div>
        <div id="page7">
            <h1>OUR LEADERSHIP</h1>
            <div id="leadership">
                <div class="member">
                    <div class="text">
                        <h2>Dr. V. Narayanan</h2>
                        <h3>Chairman ( ISRO Chief )</h3>
                    </div>
                    <img src="https://th-i.thgim.com/public/incoming/1nk0fl/article69073985.ece/alternates/LANDSCAPE_1200/DSC_1019.JPG" alt="">
                </div>
            </div>
        </div>
        <div id="quize-button">
            <div id="button"><a href="/views/quize.html">Play Quize</a></div>
        </div>
        <div id="footer">
            <div class="fl">
                <div class="contact">
                    <h2>CONTACT US</h2>
                    <h4>ISRO<br>
                        <span>Antariksh Bhavan,R.M.V. 2nd Stage, Bengaluru, Karnataka 560094</span></h4>
                </div>
            </div>
            <div class="fc">
                <div class="quick-links">
                    <h2>QUICK LINKS</h2>
                    <div id="fc-n">
                        <a href="/views/index.html">HOME</a>
                        <a href="/views/images.html">IMAGES</a>
                        <a href="#">PROJECTS</a>
                        <a href="/views/contact.html">CONTACT US</a>
                        <a href="#">UPDATES</a>
                    </div>
                </div>
            </div>
            <div class="fr">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.0087362202385!2d77.56612968625426!3d13.035115480715882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17e7a949cae9%3A0x8397364610ef2771!2sIndian%20Space%20Research%20Organisation!5e0!3m2!1sen!2sin!4v1717955353286!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div id="copywright">
            <h3>@2025 Team Rawjet. All Rights Reserved.</h3>
        </div>
    </main>
    



    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/javascripts/script.js"></script>
</body>
</html>