<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap" rel="stylesheet">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/images.css">
    <link rel="stylesheet" href="/public/stylesheets/quize.css">
    <title>RAWJET | Quize</title>
</head>
<body>
    <main>
        <nav>
            <div class="nav">
                <div id="nl" class="nl">
                    <div class="nl-img">
                        <img src="/public/images/isro-logo.png" alt="">
                    </div>
                </div>
                <div id="nr" class="nr">
                    <a href="../index.html" class="nr-1">HOME</a>
                    <a href="/views/images.html" class="active">IMAGES</a>
                    <a href="/views/centre.html">CENTRES</a>
                </div>
                <div id="menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </nav>
        <div id="qpage1">
            <h1>Let's Start</h1>
            <div id="quize-box">
                <form  id="quize-form">
                    <div class="question">
                        <label>When was ISRO Founded?</label><br>
                        <label><input type="radio" name="q1" value="A"> A. 15 August 1969</label><br>
                        <label><input type="radio" name="q1" value="B"> B. 15 August 1968</label><br>
                        <label><input type="radio" name="q1" value="C"> C. 15 August 1970</label><br>
                        <label><input type="radio" name="q1" value="D"> D. 15 August 1971</label>
                    </div>

                    <div class="question">
                        <label>Who is the founder of ISRO?</label><br>
                        <label><input type="radio" name="q2" value="A"> A. Vikram Sarabhai</label><br>
                        <label><input type="radio" name="q2" value="B"> B. A.P.J Abdul Kalam</label><br>
                        <label><input type="radio" name="q2" value="C"> C. Satish Dhawan</label><br>
                        <label><input type="radio" name="q2" value="D"> D. Homi J. Bhabha</label>
                    </div>

                    <div class="question">
                        <label>What is the name of India's first satellite?</label><br>
                        <label><input type="radio" name="q3" value="A"> A. Aryabhata</label><br>
                        <label><input type="radio" name="q3" value="B"> B. Rohini</label><br>
                        <label><input type="radio" name="q3" value="C"> C. INSAT-1A</label><br>
                        <label><input type="radio" name="q3" value="D"> D. IRS-1A</label>
                    </div>

                    <div class="question">
                        <label>What is the primary objective of ISRO?</label><br>
                        <label><input type="radio" name="q4" value="A"> A. To explore the ocean</label><br>
                        <label><input type="radio" name="q4" value="B"> B. To develop nuclear weapons</label><br>
                        <label><input type="radio" name="q4" value="C"> C. To conduct space research</label><br>
                        <label><input type="radio" name="q4" value="D"> D. To build skyscrapers</label>
                    </div>

                    <div class="question">
                        <label>What is the name of ISRO's launch vehicle?</label><br>
                        <label><input type="radio" name="q5" value="A"> A. PSLV</label><br>
                        <label><input type="radio" name="q5" value="B"> B. GSLV</label><br>
                        <label><input type="radio" name="q5" value="C"> C. RLV</label><br>
                        <label><input type="radio" name="q5" value="D"> D. All of the above</label>
                    </div>

                    <div class="question">
                        <label>What is the name of ISRO's first lunar mission?</label><br>
                        <label><input type="radio" name="q6" value="A"> A. Chandrayaan-1</label><br>
                        <label><input type="radio" name="q6" value="B"> B. Chandrayaan-2</label><br>
                        <label><input type="radio" name="q6" value="C"> C. Mangalyaan</label><br>
                        <label><input type="radio" name="q6" value="D"> D. Astrosat</label>
                    </div>

                    <div class="question">
                        <label>What is the name of ISRO's first interplanetary mission?</label><br>
                        <label><input type="radio" name="q7" value="A"> A. Chandrayaan-1</label><br>
                        <label><input type="radio" name="q7" value="B"> B. Mangalyaan</label><br>
                        <label><input type="radio" name="q7" value="C"> C. Astrosat</label><br>
                        <label><input type="radio" name="q7" value="D"> D. Chandrayaan-2</label>
                    </div>

                    <div class="question">
                        <label>What is the name of ISRO's first space telescope?</label><br>
                        <label><input type="radio" name="q8" value="A"> A. Astrosat</label><br>
                        <label><input type="radio" name="q8" value="B"> B. Hubble</label><br>
                        <label><input type="radio" name="q8" value="C"> C. Chandra</label><br>
                        <label><input type="radio" name="q8" value="D"> D. James Webb</label>
                    </div>

                    <div class="question">
                        <label>What is the name of ISRO's navigation system?</label><br>
                        <label><input type="radio" name="q9" value="A"> A. GPS</label><br>
                        <label><input type="radio" name="q9" value="B"> B. GLONASS</label><br>
                        <label><input type="radio" name="q9" value="C"> C. IRNSS</label><br>
                        <label><input type="radio" name="q9" value="D"> D. Galileo</label>
                    </div>

                    <div class="question">
                        <label>What is the name of ISRO's Earth observation satellite?</label><br>
                        <label><input type="radio" name="q10" value="A"> A. IRS-1A</label><br>
                        <label><input type="radio" name="q10" value="B"> B. INSAT-1A</label><br>
                        <label><input type="radio" name="q10" value="C"> C. Aryabhata</label><br>
                        <label><input type="radio" name="q10" value="D"> D. Rohini</label>
                    </div>

                    <input type="submit" value="Submit Quiz" class="submit-button">
                </form>
            </div>
            <div id="result"></div>
        </div>
        <div  id="footer">
            <div class="fl">
                <div class="contact">
                    <h2>CONTACT US</h2>
                    <h4>ISRO<br>
                        <span>Antariksh Bhavan,R.M.V. 2nd Stage, Bengaluru, Karnataka 560094</span></h4>
                </div>
            </div>
            <div class="fc">
                <div class="quick-links">
                    <h2>QUICK LINKS</h2>
                    <div id="fc-n">
                        <a href="../index.html">HOME</a>
                        <a href="/views/images.html">IMAGES</a>
                        <a href="#">PROJECTS</a>
                        <a href="/views/contact.html">CONTACT US</a>
                        <a href="#">UPDATES</a>
                    </div>
                </div>
            </div>
            <div class="fr">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.0087362202385!2d77.56612968625426!3d13.035115480715882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17e7a949cae9%3A0x8397364610ef2771!2sIndian%20Space%20Research%20Organisation!5e0!3m2!1sen!2sin!4v1717955353286!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div id="copywright">
            <h3>@2025 Team Rawjet. All Rights Reserved.</h3>
        </div>
    </main>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/javascripts/quize.js"></script>
</body>
</html>