<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap" rel="stylesheet">
    <link rel="manifest" href="../favicon_io/site.webmanifest">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/images.css">
    <link rel="stylesheet" href="/public/stylesheets/vision.css">
    <title>RAWJET | Vision</title>
</head>
<body>
    <main>
        <nav>
            <div class="nav">
                <div id="nl" class="nl">
                    <div class="nl-img">
                        <img src="/public/images/isro-logo.png" alt="">
                    </div>
                </div>
                <div id="nr" class="nr">
                    <a href="../index.html" class="nr-1">HOME</a>
                    <a href="/views/images.html" class="active">IMAGES</a>
                    <a href="/views/centre.html">CENTRES</a>
                </div>
                <div id="menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </nav>
        <div id="vpage1">
            <div id="vpg1-container">
                <h1>VISION</h1>
                <div id="vision-container">
                    <h2>Harness, sustain and augment space technology for national development. </h2>
                </div>
            </div>
        </div>
        <div id="vpage2">
            <div id="vpg2-container">
                <h1>MISSION</h1>
                <div id="mission-box">
                    <div id="anim1" class="anim">
                        <h3>Research and Development in space science and planetary exploration. </h3>
                        <h3>Research and Development in space science and planetary exploration. </h3>
                    </div>
                    <div id="anim2" class="anim">
                        <h3>Space based navigation system.</h3>
                        <h3>Space based navigation system.</h3>
                        <h3>Space based navigation system.</h3>
                        <h3>Space based navigation system.</h3>
                    </div>
                    <div id="anim3" class="anim">
                        <h3>Space based Applications for Societal development.</h3>
                        <h3>Space based Applications for Societal development.</h3>
                        <h3>Space based Applications for Societal development.</h3>
                    </div>
                    <div id="anim4" class="anim">
                        <h3>Research and Development in space science and planetary exploration.</h3>
                        <h3>Research and Development in space science and planetary exploration.</h3>
                        <h3>Research and Development in space science and planetary exploration.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="vpage3">
            <div id="vpg3-container">
                <h1>Objective</h1>
                <div id="objective-box">
                    <div id="anim21" class="anim">
                        <h3>Development of satellites for Space Science and Planetary Exploration . </h3>
                        <h3>Development of satellites for Space Science and Planetary Exploration . </h3>
                        <h3>Development of satellites for Space Science and Planetary Exploration . </h3>
                    </div>
                    <div id="anim22" class="anim">
                        <h3>Design and development of New Space Transportation solutions.</h3>
                        <h3>Design and development of New Space Transportation solutions.</h3>
                        <h3>Design and development of New Space Transportation solutions.</h3>
                    </div>
                    <div id="anim23" class="anim">
                        <h3>Space based systems for Societal Applications.</h3>
                        <h3>Space based systems for Societal Applications.</h3>
                        <h3>Space based systems for Societal Applications.</h3>
                    </div>
                    <div id="anim24" class="anim">
                        <h3>Commercial utilisiation of the products and services emanating from the Indian space programme.</h3>
                        <h3>Commercial utilisiation of the products and services emanating from the Indian space programme.</h3>
                        <h3>Commercial utilisiation of the products and services emanating from the Indian space programme.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div  id="footer">
            <div class="fl">
                <div class="contact">
                    <h2>CONTACT US</h2>
                    <h4>ISRO<br>
                        <span>Antariksh Bhavan,R.M.V. 2nd Stage, Bengaluru, Karnataka 560094</span></h4>
                </div>
            </div>
            <div class="fc">
                <div class="quick-links">
                    <h2>QUICK LINKS</h2>
                    <div id="fc-n">
                        <a href="../index.html">HOME</a>
                        <a href="/views/images.html">IMAGES</a>
                        <a href="#">PROJECTS</a>
                        <a href="/views/contact.html">CONTACT US</a>
                        <a href="#">UPDATES</a>
                    </div>
                </div>
            </div>
            <div class="fr">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.0087362202385!2d77.56612968625426!3d13.035115480715882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17e7a949cae9%3A0x8397364610ef2771!2sIndian%20Space%20Research%20Organisation!5e0!3m2!1sen!2sin!4v1717955353286!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div id="copywright">
            <h3>@2025 Team Rawjet. All Rights Reserved.</h3>
        </div>
    </main>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/javascripts/vision.js"></script>
</body>
</html>